body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

.search-box {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  width: 40vw;
  height: 60vh;
  border: 5px dashed black;
  padding: 10px;
  background-color: white;
}

.title {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
}

.compare {
  display: flex;
  justify-content: center;
  height: auto;
}

.compare button {
  width: 80%;
  height: 100%;
}

.img-search {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: auto;
}

.img-search-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
}

.img-search-box img {
  width: 100%;
  height: auto;
  max-height: 200px; /* Adjust this value based on the best size for your images */
  margin-bottom: 10px;
}

.img-search-box input {
  width: 100%;
}
