{% extends "layout.html" %}
{% block content %}
<div class="search-box">
    <div class="title">
        <h2>{{ subtitle }}</h2>
    </div>
   <div class="img-search">
        <div class="img-search-box">
            <img src="{{ url_for('static', filename='images/goat_trophy.jpg') }}" alt="Goat kissing world cup">
            <input type="search" name="query" id="first-player-search" placeholder="Player 1">
        </div>
        <div style="display: flex; align-items:center;">
            <h3>VS</h3>
        </div>
        <div class="img-search-box">
            <img src="{{ url_for('static', filename='images/second-trophy.jpg') }}" alt="Ronaldo 5 champion leagues">
            <input type="search" name="query" id="second-player-search" placeholder="Player 2">
        </div>
  </div>
  <div class="compare">
   <button type="submit">COMPARE</button>
  </div>
</div>
{% endblock content %}
